.productCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 5px;
    max-width: 800px;
}

.productCardContainer img {
    width: 100%;
    object-fit: contain;
}