.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16;
    border-bottom: 1px solid #eee;
    background-color: black;
    color: white;
    padding: 1rem;
}

.cartButtonHeader {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.cartButtonHeader span {
    color: black;
    position: absolute;
    background: white;
    padding: 1px 5px;
    border-radius: 25rem;
    font-size: 10px;
    right: -2px;
    top: -2px;
}

.cartIcon {
    font-size: 15px;
    stroke: white;
    width: 2rem;
}