*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}


p,
a,
li,
h1,
h2,
h3,
h4,
h5,
span,
button {
    font-family: "Open Sans", sans-serif;
}