.product-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.product-list-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.button-filter {
    width: 10rem;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem 0;
}

@media (min-width: 640px) {
    .product-list-items {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width: 1024px) {
    .product-list-items {
        grid-template-columns: repeat(4, 1fr);

    }
}